<!-- 招聘职位第一版 -->
<link rel="stylesheet" href="css/scrollBar.css">
<link rel="stylesheet" href="template/jobs/css/jobs1.css">


<div class="main">

    <div class="column-center">

        <!-- 留白 -->
        <div style="height: 60px;"></div>

        <h1>我们的需要的岗位</h1>

        <h2>来看看有你合适的岗位吗？</h2>

        <div class="select_box">

            <select class="job">
                <option value="">职业</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>

            <select class="city">
                <option value="">城市</option>
                <option value="">2</option>
                <option value="">3</option>
            </select>

        </div>

        <div style="height: 50px;"></div>

        <div class="jobs_box">

            <div class="jobs">

                <h4 class="jobs_name">风险管理</h4>

                <h3 class="jobs_city">上海昆山</h3>

            </div>

            <div class="jobs">

                <h4 class="jobs_name">市场研究</h4>

                <h3 class="jobs_city">北京燕郊</h3>

            </div>

            <div class="jobs">

                <h4 class="jobs_name">物流供应链管培生</h4>

                <h3 class="jobs_city">湖北武汉</h3>

            </div>

            <div class="jobs">

                <h4 class="jobs_name">再保管理</h4>

                <h3 class="jobs_city">广东东莞</h3>

            </div>

            <div class="jobs">

                <h4 class="jobs_name">市场研究</h4>

                <h3 class="jobs_city">北京燕郊</h3>

            </div>

            <div class="jobs">

                <h4 class="jobs_name">物流供应链管培生</h4>

                <h3 class="jobs_city">上海昆山</h3>

            </div>

            <div class="jobs">

                <h4 class="jobs_name">投资管理</h4>

                <h3 class="jobs_city">湖北武汉</h3>

            </div>

            <div class="jobs">

                <h4 class="jobs_name">再保管理</h4>

                <h3 class="jobs_city">广东东莞</h3>

            </div>

        </div>

        <div style="height: 108px;"></div>

    </div>

    <div class="show_detail">

        <div style="height: 72px;"></div>

        <h2 class="show_job_name">物流供应链管培生</h2>

        <div class="show_address">

            <div class="left_line"></div>

            <div class="center_text">

                <h3 class="blue_text">工作地点</h3>

                <h2 class="bold_text">上海昆山</h2>

            </div>

            <div class="address_all">

                <div class="l_line"></div>

                <div class="c_address">

                    <div class="t_span">湖北武汉</div>

                    <div class="t_span t_span_active">上海昆山</div>

                    <div class="t_span">北京燕郊</div>

                    <div class="t_span">上海昆山</div>

                </div>

                <div class="r_line"></div>

            </div>

        </div>

        <!-- 留白 -->
        <div style="height: 68px;"></div>

        <!-- 职位详情部分 -->
        <h4 class="need_title">招聘要求</h4>

        <H4 class="x_title">岗位职责</H4>

        <p class="mession_text">参与保险产品定价评估与精算模型的优化维护工作，包括但不限于负债及准备金评估、偿付能力量化风险监测分析、准备金相关指标的监测分析、车险定价模型维护优化等</p>

        <h4 class="x_title">人数</h4>

        <p class="num_text">本科及以上；</p>

        <h4 class="x_title">任职要求</h4>

        <p class="join_text">
            1、全日制本科及以上学历，精算、统计、数学、金融、保险等相关专业优先；<br>2、具备良好的人际沟通、组织协调能力和团队合作精神；<br>3、具备较强的责任感、上进心与抗压力；<br>4、具有创新意识与能力
        </p>

        <div class="back"> 返回列表 </div>

        <a class="apply" href="javascript:;"> 简历投递 </a>

    </div>

    <script src="js/jquery-1.12.3.min.js"></script>
    <!-- <script src="js/scrollBar.js"></script> -->
    <script src="template/jobs/js/jobs1.js"></script>

</div>