<!-- 宣讲行程第一版 -->
<link rel="stylesheet" href="template/token/css/token1.css">
<div class="bg_token">

    <div class="token mediacy">
        <img src="images/token_title.png" class="token_title">
        
		<div class="token1">
				   <div class="lc-xl"><img src="images/lc_gd.png" ></div>
				   <div class="lc-icon1"><img src="images/lc_icon1.png" ></div>
				   <div class="lc-icon2"><img src="images/lc_icon2.png" ></div>
				   <div class="lc-icon3"><img src="images/lc_icon2.png" ></div>
				   
				   <div class="lc-nums">
					   <div class="lc-wz xq1">
						   <div class="lc-xq">
							   2019-7-1 <br>
							   18：00-20：00 <br>
							   综合教学楼202
						   </div>
						   <div class="lc-numL lc-num1">1</div>
						   <div class="lc-shcool">上海财经大学</div>
					   </div>
					   <div class="lc-wz xq2">
						   <div class="lc-xq">
							   2019-7-1 <br>
							   18：00-20：00 <br>
							   综合教学楼202
						   </div>
						   <div class="lc-numL lc-num2">2</div>
						   <div class="lc-shcool">上海财经大学</div>
					   </div>
					  <div class="lc-wz xq3">
						  <div class="lc-xq">
						   2019-7-1 <br>
						   18：00-20：00 <br>
						   综合教学楼202
						  </div>
						   <div class="lc-numL lc-num3">3</div>
						    <div class="lc-shcool">上海财经大学</div>
					  </div>
					 <div class="lc-wz xq4">
						 <div class="lc-xq">
						  2019-7-1 <br>
						  18：00-20：00 <br>
						  综合教学楼202
						 </div>
						 <div class="lc-numL lc-num4">4</div>
						 <div class="lc-shcool">上海财经大学</div>
					 </div>
					 <div class="lc-wz xq5">
						 <div class="lc-xq">
						  2019-7-1 <br>
						  18：00-20：00 <br>
						  综合教学楼202
						 </div>
						 <div class="lc-numL lc-num5">5</div>
						 <div class="lc-shcool">上海财经大学</div>
					 </div>
					 <div class="lc-wz xq6">
						 <div class="lc-xq">
						  2019-7-1 <br>
						  18：00-20：00 <br>
						  综合教学楼202
						 </div>
						 <div class="lc-numL lc-num6">6</div>
						 <div class="lc-shcool">上海财经大学</div>
					 </div>
					 <div class="lc-wz xq7">
						 <div class="lc-xq">
						  2019-7-1 <br>
						  18：00-20：00 <br>
						  综合教学楼202
						 </div>
						  <div class="lc-numL lc-num7">7</div>
						  <div class="lc-shcool">上海财经大学</div>
					 </div>
					 <div class="lc-wz xq8">
						 <div class="lc-xq">
						  2019-7-1 <br>
						  18：00-20：00 <br>
						  综合教学楼202
						 </div>
						  <div class="lc-numL lc-num8">8</div>
						  <div class="lc-shcool">上海财经大学</div>
					 </div>
					 <div class="lc-wz xq9">
						 <div class="lc-xq">
						  2019-7-1 <br>
						  18：00-20：00 <br>
						  综合教学楼202
						 </div>
						  <div class="lc-numL lc-num9">9</div>
						  <div class="lc-shcool">上海财经大学</div>
					 </div>
					 <div class="lc-wz xq10">
						 <div class="lc-xq">
						  2019-7-1 <br>
						  18：00-20：00 <br>
						  综合教学楼202
						 </div>
						 <div class="lc-numL lc-num10">10</div>
						 <div class="lc-shcool">上海财经大学</div>
					 </div>
					 <div class="lc-wz xq11">
						 <div class="lc-xq">
						  2019-7-1 <br>
						  18：00-20：00 <br>
						  综合教学楼202
						 </div>
						  <div class="lc-numL lc-num11">11</div>
						  <div class="lc-shcool">上海财经大学</div>
					 </div>
					 
				   </div>
				   
				   <div class="lc-iconc"><img src="images/lc_iconc.png"></div>
				   
				   
		</div>
		
    </div>

    <!-- 修饰 -->
    <img src="images/process_left1.png" class="intro_left1">

</div>

<script src="template/token/js/token1.js"></script>