<!-- 宣讲行程第一版 -->
<link rel="stylesheet" href="template/token/css/token1.css">

<div class="column-center token_outside_box">

    <h1>宣讲行程</h1>

    <h2>我们将在这段时间<br>陆陆续续前往900多所 大学和你们探讨交流。</h2>

    <!-- 留白 -->
    <div style="height: 20px;"></div>

    <!-- 分割线 -->
    <div class="cneter_line"></div>

    <!-- 留白 -->
    <div style="height: 66px;"></div>

    <!-- 修饰按钮 -->
    <img src="images/left_arrow.png" alt="" class="left_arrow">
    <img src="images/right_arrow.png" alt="" class="right_arrow">

    <!-- 展示区 -->
    <div class="school_box">

        <div class="s_box">

            <!-- 唯一标识 -->
            <div class="only_num">1</div>

            <!-- 时间和地点 -->
            <div class="time_address">10月17日<br>（10：00-12：00）<br>芙蓉餐厅二楼<br>就业中心1号厅</div>

            <!-- 院校名 -->
            <div class="school_name_box">

                <div class="school_name">成都理工大学</div>

            </div>

        </div>

        <div class="s_box">

            <!-- 唯一标识 -->
            <div class="only_num">1</div>

            <!-- 时间和地点 -->
            <div class="time_address">10月17日<br>（10：00-12：00）<br>芙蓉餐厅二楼<br>就业中心1号厅</div>

            <!-- 院校名 -->
            <div class="school_name_box">

                <div class="school_name">成都理工大学</div>

            </div>

        </div>

        <div class="s_box">

            <!-- 唯一标识 -->
            <div class="only_num">1</div>

            <!-- 时间和地点 -->
            <div class="time_address">10月17日<br>（10：00-12：00）<br>芙蓉餐厅二楼<br>就业中心1号厅</div>

            <!-- 院校名 -->
            <div class="school_name_box">

                <div class="school_name">成都理工大学</div>

            </div>

        </div>

        <div class="s_box">

            <!-- 唯一标识 -->
            <div class="only_num">1</div>

            <!-- 时间和地点 -->
            <div class="time_address">10月17日<br>（10：00-12：00）<br>芙蓉餐厅二楼<br>就业中心1号厅</div>

            <!-- 院校名 -->
            <div class="school_name_box">

                <div class="school_name">成都理工大学</div>

            </div>

        </div>

        <div class="s_box">

            <!-- 唯一标识 -->
            <div class="only_num">1</div>

            <!-- 时间和地点 -->
            <div class="time_address">10月17日<br>（10：00-12：00）<br>芙蓉餐厅二楼<br>就业中心1号厅</div>

            <!-- 院校名 -->
            <div class="school_name_box">

                <div class="school_name">成都理工大学</div>

            </div>

        </div>

        <div class="s_box">

            <!-- 唯一标识 -->
            <div class="only_num">1</div>

            <!-- 时间和地点 -->
            <div class="time_address">10月17日<br>（10：00-12：00）<br>芙蓉餐厅二楼<br>就业中心1号厅</div>

            <!-- 院校名 -->
            <div class="school_name_box">

                <div class="school_name">成都理工大学</div>

            </div>

        </div>

    </div>


</div>

<script src="js/jquery-1.12.3.min.js"></script>
<script src="https://js.51jobcdn.com/in/js/2018/coapi/coapi.min.js"></script>
<script src="template/token/js/token1.js"></script>