<!-- 薪酬福利第一版 -->
<link rel="stylesheet" href="template/welfare/css/welfare1.css">
<div class="main welfare">
    <p class="title welfare_title">
        <span>薪酬福利</span>
        <span>Salary and welfare</span>
    </p>

    <div class="column-center">

        <div class="letter_line">
            公司
        </div>

        <div class="strong_text">

            福利介绍福利介绍福利介绍福利介绍福利介绍福利介绍介绍福利介绍福利介绍

        </div>

        <img src="images/welfare_img1.png" class="welfare_img">

    </div>

</div>