<!-- 招聘流程第一版 -->
<link rel="stylesheet" href="template/process/css/process1.css">

<div class="bg_process">

    <div class="process mediacy">

        <img src="images/process_title.png" class="process_title">
       
		<div class="process1">
			<div class="pro-boxs">
				<div class="pro-box">
					<div class="pro-boxicon"><img src="images/pro_boxicon1.png" ></div>
					<div class="pro-boxtxt">
						<p>STEP1</p>
						<h2>简历投递</h2>
						<div class="pro-boxtime">时间：2019年10月1日-11月1日</div>
					</div>
				</div>
				<div class="pro-box">
					<div class="pro-boxicon"><img src="images/pro_boxicon1.png" ></div>
					<div class="pro-boxtxt">
						<p>STEP2</p>
						<h2>初试</h2>
						<div class="pro-boxtime">时间：2019年10月1日-11月1日</div>
					</div>
				</div>
				<div class="pro-box">
					<div class="pro-boxicon"><img src="images/pro_boxicon1.png" ></div>
					<div class="pro-boxtxt">
						<p>STEP3</p>
						<h2>面试</h2>
						<div class="pro-boxtime">时间：2019年10月1日-11月1日</div>
					</div>
				</div>
				<div class="pro-box">
					<div class="pro-boxicon"><img src="images/pro_boxicon1.png" ></div>
					<div class="pro-boxtxt">
						<p>STEP4</p>
						<h2>综合测评</h2>
						<div class="pro-boxtime">时间：2019年10月1日-11月1日</div>
					</div>
				</div>
				<div class="pro-box">
					<div class="pro-boxicon"><img src="images/pro_boxicon1.png" ></div>
					<div class="pro-boxtxt">
						<p>STEP5</p>
						<h2>OFFER</h2>
						<div class="pro-boxtime">时间：2019年10月1日-11月1日</div>
					</div>
				</div>
				<div class="pro-box">
					<div class="pro-boxicon"><img src="images/pro_boxicon1.png" ></div>
					<div class="pro-boxtxt">
						<p>STEP6</p>
						<h2>签订三方</h2>
						<div class="pro-boxtime">时间：2019年10月1日-11月1日</div>
					</div>
				</div>
			</div>
			<div>
				<div class="pro-icons">
					<ul>
						<li><img src="images/pro_icon1_1.png" ></li>
						<li><img src="images/pro-iconjt.png" ></li>
						<li><img src="images/pro_icon2.png" ></li>
						<li><img src="images/pro-iconjt.png" ></li>
						<li><img src="images/pro_icon3.png" ></li>
						<li><img src="images/pro-iconjt.png" ></li>
						<li><img src="images/pro_icon4.png" ></li>
						<li><img src="images/pro-iconjt.png" ></li>
						<li><img src="images/pro_icon5.png" ></li>
						<li><img src="images/pro-iconjt.png" ></li>
						<li><img src="images/pro_icon6.png" ></li>
					</ul>
				</div>
				<div class="pro-probars">
					<div class="pro-bar"><div class="pro-barjd"></div></div>
					<div class="pro-barnum">
						<ul>
							<li><span class="pro-numactive">01</span></li>
							<li><span>02</span></li>
							<li><span>03</span></li>
							<li><span>04</span></li>
							<li><span>05</span></li>
							<li><span>06</span></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="pro-lcwz">
				简历投递——初试——面试——综合测评——OFFER——签订三方
			</div>
		</div>
	   

    </div>

    <!-- 修饰 -->
    <img src="images/process_left1.png" class="intro_left1">

</div>

<script src="template/process/js/process1.js"></script>