<!-- 关于我们第三版 -->
<link rel="stylesheet" href="template/about/css/about3.css">
<div class="column-center">
    <div class=" about_box">

        <div class="map" id="map">

            <div class="about_text_box">
                <div class="company_text">
                    <p><span class="f_blue">官方网站：</span>https://www.51job.com/</p>
                    <p><span class="f_blue">联系电话：</span><label class="special_num">400-886-0051</label></p>
                    <p><span class="f_blue">邮箱地址：</span>callcenter@51job.com</p>
                </div>
                <img src="images/ewm1.png" class="ewm2">
            </div>

        </div>

    </div>

    <script src="template/about/js/about2.js"></script>
</div