/*公司简介*/

.container1-1 .column-center img {
    float: right;
    margin-left: 35px;
}

.container1-1 .column-center p {
    font-size: 16px;
    color: #333333;
    line-height: 32px;
    text-align: justify;
    text-indent: 2em;
    margin-bottom: 5px;
}

.container1-2 {
    /* background: url(../images/container-bg1-2.png) no-repeat; */
    background-size: 100% 100%;
    padding-top: 35px;
    padding-bottom: 35px;
}