<!-- 员工风采第一版 -->
<link rel="stylesheet" href="template/person/css/person1.css">

<div class="main person">
    <p class="title">
        <span>企业文化</span>
        <span style="white-space: nowrap;">The enterprise culture</span>
    </p>
    <div class="column-center">
        <div class="swiper-container cul-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <img src="images/s_img1.jpg" />
                </div>

                <div class="swiper-slide">
                    <img src="images/s_img2.jpg" />
                </div>

                <div class="swiper-slide">
                    <img src="images/s_img3.jpg" />
                </div>

            </div>

            <div class="swiper-button-prev cul-prev"></div>
            <div class="swiper-button-next cul-next"></div>

            <!-- swiper_line -->
            <div class="swiper_line"></div>

            <div class="paginations">
                <div class="buttle paginations-buttle-active">
                    <img src="images/buttle_on.png" alt="">
                    <p>公司团建活动</p>
                </div>
                <div class="buttle">
                    <img src="images/buttle.png" alt="">
                    <p>2020年年会</p>
                </div>
                <div class="buttle">
                    <img src="images/buttle.png" alt="">
                    <p>办公环境</p>
                </div>
            </div>

        </div>

    </div>

    <script src="js/swiper.min.js"></script>
    <script src="template/person/js/person1.js"></script>

</div>