<!-- 招聘流程第二版 -->
<!-- <link rel="stylesheet" href="css/swiper.min.css"> -->
<link rel="stylesheet" href="template/process/css/process2.css">

<div class="bg_process">

    <div class="process mediacy">

        <img src="images/process_title_2.png" class="process_title">

        <div class="swiper-container pro_swiper">

            <div class="swiper-wrapper">

                <div class="swiper-slide" style="background-color: #4394d8;">

                    <div class="main_content">

                        <img src="images/pen_paper.png" alt="">

                        <!-- 分割线 -->
                        <div class="f_line"></div>

                        <h2 class="pro_text">01 在线简历投递</h2>

                    </div>

                    <div class="right_show">
                        <h2>01</h2>
                        <p>在线简历投递</p>
                    </div>

                </div>

                <div class="swiper-slide" style="background-color: #2373b1;">

                    <div class="main_content">

                        <img src="images/pen_paper.png" alt="">

                        <!-- 分割线 -->
                        <div class="f_line"></div>

                        <h2 class="pro_text">02 校园宣讲</h2>

                    </div>

                    <div class="right_show">
                        <h2>02</h2>
                        <p>校园宣讲</p>
                    </div>

                </div>

                <div class="swiper-slide">

                    <div class="main_content" style="display: block;">

                        <img src="images/pen_paper.png" alt="">

                        <!-- 分割线 -->
                        <div class="f_line"></div>

                        <h2 class="pro_text">03 线上专业笔试</h2>

                    </div>

                    <div class="right_show" style="display: none;">
                        <h2>03</h2>
                        <p>线上专业笔试</p>
                    </div>

                </div>

                <div class="swiper-slide" style="background-color: #2373b1;">

                    <div class="main_content">

                        <img src="images/pen_paper.png" alt="">

                        <!-- 分割线 -->
                        <div class="f_line"></div>

                        <h2 class="pro_text">04 线下面试</h2>

                    </div>

                    <div class="right_show">
                        <h2>04</h2>
                        <p>线下面试</p>
                    </div>

                </div>

                <div class="swiper-slide" style="background-color: #4394d8;">

                    <div class="main_content">

                        <img src="images/pen_paper.png" alt="">

                        <!-- 分割线 -->
                        <div class="f_line"></div>

                        <h2 class="pro_text">05 录用</h2>

                    </div>

                    <div class="right_show">
                        <h2>05</h2>
                        <p>录用</p>
                    </div>

                </div>

            </div>

            <div class="swiper-pagination">
                <span></span>
                <span></span>
                <span class="swiper-pagination-active"></span>
                <span></span>
                <span></span>
            </div>

            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>

        </div>

    </div>

    <div style="height: 200px;"></div>

    <!-- 修饰 -->
    <img src="images/process_left1.png" class="intro_left1">

</div>

<!-- <script src="js/swiper-3.4.2.jquery.min.js"></script> -->
<script src="template/process/js/process2.js"></script>