<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>配置快</title>
    <meta content="XXX招聘 前程无忧官方网站，提供最新 XXX招聘职位，校园招聘信息， XXX面试技巧等。帮助您顺利踏入XXX的大门，与众多XXX精英们开启一段崭新的职业生涯。" name="description">
    <meta content="人才，招聘，简历，工作，求职，面试，应聘，跳槽，高薪，兼职，猎头，薪酬，薪资，培训，测评，人事" name="keywords">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="expires" content="0">
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="cache-control" content="no-cache">
    <meta name="format-detection" content="telephone=no">
    <meta name="robots" content="all" />
    <meta name="viewport" content="width=1280">
    <meta http-equiv="cache-control" content="no-siteapp">
    <meta name="render" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="x-ua-compatible" content="IE=edge,chrome=1">
    <link rel="stylesheet" href="../static/css/reset.min.css">
    <link rel="stylesheet" href="../static/css/select.css">
    <link rel="stylesheet" href="../static/css/index.css">
</head>

<body>

    <div class="main">
        <!-- 头部部分 -->
        <div class="header mediacy">
            <!-- 前程logo -->
            <img src="../static/images/logo1.png">
            <!-- ideallogo -->
            <img src="../static/images/logo2.png">
            <!-- 配置快logo -->
            <img src="../static/images/logo3.png">
        </div>

        <!-- banner部分 -->
        <div class="bg_banner">
            <div class="banner mediacy">
                <!-- 左部描述 -->
                <div class="left_box">

                    <!-- 留白 -->
                    <div style="height: 100px;"></div>
                    <h1>2020 IDEAL配置快</h1>
                    <p class="text">效率快 板式多 Faster,Better,More Choice</p>
                    <!-- 留白 -->
                    <div style="height: 30px;"></div>
                    <a href="javascript:;" class="now">立即制作</a>
                </div>
                <!-- 右部图片 -->
                <img class="slogan" src="../static/images/slogan.png">
            </div>
        </div>

        <!-- 内容区 -->
        <div class="bg_content">

            <!-- 样式选择栏 -->
            <div class="bg_select_box">

                <div class="select_box mediacy">

                    <div class="left_text">选择：</div>

                    <div class="select">
                        <span>首页：<label class="index"></label></span>

                    </div>

                    <div class="select">
                        <span>公司简介：<label class="index"></label></span>

                    </div>

                    <div class="select">
                        <span>招聘职位：<label class="index"></label></span>

                    </div>

                    <div class="select">
                        <span>招聘行程：<label class="index"></label></span>

                    </div>

                    <div class="select">
                        <span>招聘流程：<label class="index"></label></span>

                    </div>

                    <div class="select">
                        <span>联系我们：<label class="index"></label></span>

                    </div>

                    <div class="select">
                        <span>薪资福利：<label class="index"></label></span>

                    </div>

                    <div class="select">
                        <span>员工风采：<label class="index"></label></span>

                    </div>

                </div>

            </div>

            <div class="content mediacy">

                <!-- 样式导航 -->
                <ul class="nav">
                    <li>
                        <div class="left_icon">
                            <img class="icon" src="../static/images/icon1.png">
                            <span>首页&emsp;&emsp;</span>
                        </div>
                    </li>

                    <li>
                        <div class="left_icon">
                            <img class="icon" src="../static/images/icon2.png">
                            <span>公司简介</span>
                        </div>
                    </li>

                    <li>
                        <div class="left_icon">
                            <img class="icon" src="../static/images/icon3.png">
                            <span>招聘职位</span>
                        </div>
                    </li>

                    <li>
                        <div class="left_icon">
                            <img class="icon" src="../static/images/icon4.png">
                            <span>招聘行程</span>
                        </div>
                    </li>

                    <li>
                        <div class="left_icon">
                            <img class="icon" src="../static/images/icon5.png">
                            <span>招聘流程</span>
                        </div>
                    </li>

                    <li>
                        <div class="left_icon">
                            <img class="icon" src="../static/images/icon6.png">
                            <span>联系我们</span>
                        </div>
                    </li>

                    <li>
                        <div class="left_icon">
                            <img class="icon" src="../static/images/icon7.png">
                            <span>薪资福利</span>
                        </div>
                    </li>

                    <li>
                        <div class="left_icon">
                            <img class="icon" src="../static/images/icon8.png">
                            <span>员工风采</span>
                        </div>
                    </li>

                </ul>

                <!-- 版式选择栏 -->
                <div class="stylesheet_box">
                    <div class="style1">样式一</div>
                    <div class="style1">样式二</div>
                    <div class="style1">样式三</div>
                    <div class="style1">样式四</div>
                    <div class="style1">样式五</div>
                </div>

                <!-- 展示部分 -->
                <div class="show_box mediacy">
                    <img class="nowImg" src="../static/images/about1.png">
                    <div class="enter">
                        <label class="border"></label>
                        确认样式
                    </div>
                </div>

                <div class="clear"></div>
				
				<!-- 确认使用弹窗部分 -->
				<div class="confirms">
					<div class="mask"></div>
					<div class="confirm">
						<div class="confirm-box">
							<div class="confirm-close"><img src="../static/images/comfirm_close.png" ></div>
							<p>已选择模块：</p>
							<ul class="confirm-module">
								<li>首页：<span class="confirm-home"></span></li>
								<li>公司简介：<span class="confirm-company"></span></li>
								<li>招聘职位：<span class="confirm-job"></span></li>
                                <li>招聘行程: <span class="confirm-trip"></span></li>
								<li>招聘流程：<span class="confirm-process"></span></li>
								<li>联系我们：<span class="confirm-contact"></span></li>
								<li>薪资福利：<span class="confirm-salary"></span></li>
								<li>员工风采：<span class="confirm-presence"></span></li>
							</ul>
							<div class="name"><img src="../static/images/comfirm_icon1.png" >客户名称：<input type="text" class="kh-name" /></div>
							<div class="serial-num"><img src="../static/images/comfirm_icon2.png" >项目编号：<input type="text" class="bh-serial" /></div>
							<div class="comfrim-btn" onclick="confirm_to_use()">确认提交</div>
						</div>
					</div>
				</div>
				
                <!-- 按钮部分 -->
                <div class="btn_box">
                    <a class="btn1" href="javascript:void(0)" onclick="use_change()">确认使用</a>
                    <a class="btn2" href="javascript:void(0)" onclick="use_change1()">页面预览</a>
                </div>

                <div class="clear"></div>

                <!-- 留白 -->
                <div style="height: 100px;"></div>

                <!-- 版权部分 -->
                <div class="copyright">
                    <img src="../static/images/51logo.png">
                    <span>未经51job.com 同意，不得转载本网站之所有招聘信息及作品 无忧工作网版权所有 ©1999-
                        <script>
                            document.write(new Date().getFullYear());
                        </script>
                    </span>
                </div>
            </div>

        </div>

    </div>

</body>

<script src="../static/js/jquery-1.11.1.js"></script>
<script src="../static/js/select.js"></script>
<script src="../static/js/index.js"></script>
<script>
    function confirm_to_use() {
        confirm_home = document.getElementsByClassName('confirm-home')[0].innerHTML
        confirm_company = document.getElementsByClassName('confirm-company')[0].innerHTML
        confirm_job = document.getElementsByClassName('confirm-job')[0].innerHTML
        confirm_process = document.getElementsByClassName('confirm-process')[0].innerHTML
        confirm_contact = document.getElementsByClassName('confirm-contact')[0].innerHTML
        confirm_salary = document.getElementsByClassName('confirm-salary')[0].innerHTML
        confirm_presence = document.getElementsByClassName('confirm-presence')[0].innerHTML
        confirm_trip = document.getElementsByClassName('confirm-trip')[0].innerHTML
        kh_name = document.getElementsByClassName('kh-name')[0].value
        bh_serial = document.getElementsByClassName('bh-serial')[0].value
        window.location.href = "/index_parametres_get_to_post?confirm_home="+confirm_home+"&confirm_company="
        +confirm_company+"&confirm_job="+confirm_job+"&confirm_process="+confirm_process+"&confirm_contact="
        +confirm_contact+"&confirm_salary="+confirm_salary+"&confirm_presence="+confirm_presence+"&kh_name="
        +kh_name+"&bh_serial="+bh_serial + "&confirm_trip=" + confirm_trip

    }
    function use_change() {
        confirm_home = document.getElementsByClassName('confirm-home')[0]
        confirm_company = document.getElementsByClassName('confirm-company')[0]
        confirm_job = document.getElementsByClassName('confirm-job')[0]
        confirm_process = document.getElementsByClassName('confirm-process')[0]
        confirm_contact = document.getElementsByClassName('confirm-contact')[0]
        confirm_salary = document.getElementsByClassName('confirm-salary')[0]
        confirm_presence = document.getElementsByClassName('confirm-presence')[0]
        confirm_trip = document.getElementsByClassName('confirm-trip')[0]
        confirm_home.innerHTML = window.sessionStorage.getItem("indexPage")
        confirm_company.innerHTML = window.sessionStorage.getItem("introPage")
        confirm_job.innerHTML = window.sessionStorage.getItem("jobsPage")
        confirm_trip.innerHTML = window.sessionStorage.getItem("tokenPage")
        confirm_process.innerHTML = window.sessionStorage.getItem("processPage")
        confirm_contact.innerHTML = window.sessionStorage.getItem("aboutPage")
        confirm_salary.innerHTML = window.sessionStorage.getItem("welfarePage")
        confirm_presence.innerHTML = window.sessionStorage.getItem("personPage")
    }
    function use_change1() {
        confirm_home = window.sessionStorage.getItem("indexPage")
        confirm_company = window.sessionStorage.getItem("introPage")
        confirm_job = window.sessionStorage.getItem("jobsPage")
        confirm_trip = window.sessionStorage.getItem("tokenPage")
        confirm_process = window.sessionStorage.getItem("processPage")
        confirm_contact = window.sessionStorage.getItem("aboutPage")
        confirm_salary = window.sessionStorage.getItem("welfarePage")
        confirm_presence = window.sessionStorage.getItem("personPage")
        url1 = "/index_skip_look?confirm_home="+confirm_home+"&confirm_company="
        +confirm_company+"&confirm_job="+confirm_job+ "&confirm_trip=" + confirm_trip+
            "&confirm_process="+confirm_process+"&confirm_contact="
        +confirm_contact+"&confirm_salary="+confirm_salary+"&confirm_presence="+confirm_presence
        window.location.href = url1

    }
</script>
</html>