<!-- 招聘流程第二版 -->
<link rel="stylesheet" href="template/process/css/process2.css">

<div class="column-center">
    <div class="clear"></div>
    <div class="swiper-container pro-swiper">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="outside">

                    <img src="images/computer.png" alt="">
                    <!-- 修饰线 -->
                    <div class="center_line"></div>
                    <!-- 右部内容 -->
                    <div class="right_box">
                        <h3>STEP 01</h3>
                        <h2>简历投递</h2>
                        <!-- 留白 -->
                        <div style="height: 20px;"></div>
                        <p>时间：2019年10月1日—11月1日</p>
                    </div>

                </div>
            </div>

            <div class="swiper-slide">
                <div class="outside">

                    <img src="images/test.png" alt="">
                    <!-- 修饰线 -->
                    <div class="center_line"></div>
                    <!-- 右部内容 -->
                    <div class="right_box">
                        <h3>STEP 02</h3>
                        <h2>初试</h2>
                        <!-- 留白 -->
                        <div style="height: 20px;"></div>
                        <p>时间：2019年10月1日—11月1日</p>
                    </div>

                </div>
            </div>

            <div class="swiper-slide">
                <div class="outside">

                    <img src="images/person.png" alt="">
                    <!-- 修饰线 -->
                    <div class="center_line"></div>
                    <!-- 右部内容 -->
                    <div class="right_box">
                        <h3>STEP 03</h3>
                        <h2>面试</h2>
                        <!-- 留白 -->
                        <div style="height: 20px;"></div>
                        <p>时间：2019年10月1日—11月1日</p>
                    </div>

                </div>
            </div>

            <div class="swiper-slide">
                <div class="outside">

                    <img src="images/diamond.png" alt="">
                    <!-- 修饰线 -->
                    <div class="center_line"></div>
                    <!-- 右部内容 -->
                    <div class="right_box">
                        <h3>STEP 04</h3>
                        <h2>综合评测</h2>
                        <!-- 留白 -->
                        <div style="height: 20px;"></div>
                        <p>时间：2019年10月1日—11月1日</p>
                    </div>

                </div>
            </div>

            <div class="swiper-slide">
                <div class="outside">

                    <img src="images/email.png" alt="">
                    <!-- 修饰线 -->
                    <div class="center_line"></div>
                    <!-- 右部内容 -->
                    <div class="right_box">
                        <h3>STEP 05</h3>
                        <h2>OFFER</h2>
                        <!-- 留白 -->
                        <div style="height: 20px;"></div>
                        <p>时间：2019年10月1日—11月1日</p>
                    </div>

                </div>
            </div>

            <div class="swiper-slide">
                <div class="outside">

                    <img src="images/final.png" alt="">
                    <!-- 修饰线 -->
                    <div class="center_line"></div>
                    <!-- 右部内容 -->
                    <div class="right_box">
                        <h3>STEP 06</h3>
                        <h2>签订三方</h2>
                        <!-- 留白 -->
                        <div style="height: 20px;"></div>
                        <p>时间：2019年10月1日—11月1日</p>
                    </div>

                </div>
            </div>

        </div>

        <div class="swiper-pagination pro-pagination"></div>
        <div class="swiper-button-prev pro-prev"></div>
        <div class="swiper-button-next pro-next"></div>
    </div>

    <span class="clear"></span>

    <script src="js/swiper.min.js"></script>
    <script src="template/process/js/process2.js"></script>

</div>