<!-- 宣讲行程第二版 -->
<link rel="stylesheet" href="template/token/css/token2.css">
<div class="bg_token">

    <div class="token mediacy">
        <img src="images/token_title_2.png" class="token_title">

        <div class="clear"></div>

        <div class="road">
            <div class="road-left">
                <!--<div class="road-content">-->
                    <!--<div class="road-adress">-->
                        <!--<img src="images/adress.png" alt="">-->
                        <!--<p>成都市</p>-->
                    <!--</div>-->
                    <!--<img src="images/orange-point.png" class="l-point">-->
                    <!--<div class="road-box">-->
                        <!--<p class="bold-text">四川邮电职业技术学院</p>-->
                        <!--<p>09月25日（14：00）<br>2教学术交流中心</p>-->
                    <!--</div>-->
                    <!--<div class="clear"></div>-->

                <!--</div>-->

            </div>

            <div class="road-center">
                <div class="road-line"></div>
            </div>

            <div class="road-right">

            </div>
        </div>


    </div>

    <!-- 修饰 -->
    <img src="images/process_left1.png" class="intro_left1">

</div>

<script src="template/token/js/token2.js"></script>