<!-- 宣讲行程第二版 -->
<link rel="stylesheet" href="template/token/css/token2.css">
<div class="bg_token">

    <div class="token mediacy">
        <img src="images/token_title_2.png" class="token_title">

        <div class="clear"></div>

        <div class="token_outside_box">

            <div class="token_content">

                <div class="show_content_box">

                    <img src="images/token_img2.png" alt="">
                    <h2 class="school_name">四川邮电职业技术学院1</h2>
                    <p class="time">09月25日（14：00）</p>
                    <p class="address">2教学术交流中心</p>

                </div>

                <div class="show_content_box">

                    <img src="images/token_img2.png" alt="">
                    <h2 class="school_name">四川邮电职业技术学院2</h2>
                    <p class="time">09月25日（14：00）</p>
                    <p class="address">2教学术交流中心</p>

                </div>

                <div class="show_content_box">

                    <img src="images/token_img2.png" alt="">
                    <h2 class="school_name">四川邮电职业技术学院3</h2>
                    <p class="time">09月25日（14：00）</p>
                    <p class="address">2教学术交流中心</p>

                </div>

                <div class="show_content_box">

                    <img src="images/token_img2.png" alt="">
                    <h2 class="school_name">四川邮电职业技术学院4</h2>
                    <p class="time">09月25日（14：00）</p>
                    <p class="address">2教学术交流中心</p>

                </div>

                <div class="show_content_box">

                    <img src="images/token_img2.png" alt="">
                    <h2 class="school_name">四川邮电职业技术学院5</h2>
                    <p class="time">09月25日（14：00）</p>
                    <p class="address">2教学术交流中心</p>

                </div>

                <div class="show_content_box">

                    <img src="images/token_img2.png" alt="">
                    <h2 class="school_name">四川邮电职业技术学院6</h2>
                    <p class="time">09月25日（14：00）</p>
                    <p class="address">2教学术交流中心</p>

                </div>

                <div class="show_content_box">

                    <img src="images/token_img2.png" alt="">
                    <h2 class="school_name">四川邮电职业技术学院7</h2>
                    <p class="time">09月25日（14：00）</p>
                    <p class="address">2教学术交流中心</p>

                </div>

            </div>

            <ul class="token_nav">
                <li class="active_li">四川邮电职业技术学院</li>
                <li>四川邮电职业技术学院</li>
                <li>四川邮电职业技术学院</li>
                <li>四川邮电职业技术学院</li>
                <li>四川邮电职业技术学院</li>
                <li>四川邮电职业技术学院</li>
                <li>四川邮电职业技术学院</li>
            </ul>

        </div>


    </div>

    <!-- 修饰 -->
    <img src="images/process_left1.png" class="intro_left1">

</div>

<script src="template/token/js/token2.js"></script>