<!-- 员工风采第一版 -->
<link rel="stylesheet" href="template/person/css/person1.css">

<div class="main">
    <p class="title title-b"><span>企业</span>文化</p>
    <div class="column-center">
        <div class="swiper-container cul-swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide"><img src="images/cul01.png" />
                    <p>公司团建活动</p>
                </div>
                <div class="swiper-slide"><img src="images/cul01.png" />
                    <p>公司团建活动</p>
                </div>
                <div class="swiper-slide"><img src="images/cul01.png" />
                    <p>公司团建活动</p>
                </div>
                <div class="swiper-slide"><img src="images/cul01.png" />
                    <p>公司团建活动</p>
                </div>
                <div class="swiper-slide"><img src="images/cul01.png" />
                    <p>公司团建活动</p>
                </div>
                <div class="swiper-slide"><img src="images/cul01.png" />
                    <p>公司团建活动</p>
                </div>
            </div>

            <div class="swiper-pagination cul-pagination">
            </div>

        </div>

        <div class="swiper-button-prev cul-prev"></div>
        <div class="swiper-button-next cul-next"></div>

    </div>

    <script src="js/swiper.min.js"></script>
    <script src="template/person/js/person1.js"></script>

</div>