<!-- 招聘职位第二版 -->
<link rel="stylesheet" href="template/jobs/css/jobs2.css">

<div class="main">
    <p class="title title-w" style="margin-bottom: 20px;"><span>招聘</span>职位</p>
    <div class="column-center">
        <div class="joblist">
            <ul>
                <h2 class="job-load">加载中</h2>
                <!--<li>
                        <a href="#" class="job-a">查看详情</a>
                        <p class="jobname">服务器运维工程师</p>
                        <span> | </span>
                        <p class="jobarea">武汉-江夏区</p>
                    </li>
                    <li>
                        <a href="#" class="job-a">查看详情</a>
                        <p class="jobname">服务器运维工程师</p>
                        <span> | </span>
                        <p class="jobarea">武汉-江夏区</p>
                    </li>
                    <li>
                        <a href="#" class="job-a">查看详情</a>
                        <p class="jobname">服务器运维工程师</p>
                        <span> | </span>
                        <p class="jobarea">武汉-江夏区</p>
                    </li>
                    <li>
                        <a href="#" class="job-a">查看详情</a>
                        <p class="jobname">服务器运维工程师</p>
                        <span> | </span>
                        <p class="jobarea">武汉-江夏区</p>
                    </li>
                    <li>
                        <a href="#" class="job-a">查看详情</a>
                        <p class="jobname">服务器运维工程师</p>
                        <span> | </span>
                        <p class="jobarea">武汉-江夏区</p>
                    </li>
                    <li>
                        <a href="#" class="job-a">查看详情</a>
                        <p class="jobname">服务器运维工程师</p>
                        <span> | </span>
                        <p class="jobarea">武汉-江夏区</p>
                </li>-->
            </ul>

            <div class="jobPage">
                <span class="prev-page" style="cursor: pointer;"
                    onclick="pageFun(parseInt(params.pagenum)-1)">上一页</span>
                &emsp;
                <span class="page-btn">
                    <a class="pagebtn disabled" id="1">1</a>

                </span>
                &emsp;
                <span class="next-page" style="cursor: pointer;" onclick="pageFun(parseInt(params.pagenum)+1)">下一页
                </span>

            </div>
            <!--fenyeqi -->
        </div>
        <div class="jobmenu" style="display: none;">
            <h2 class="job-load">加载中</h2>
            <!--									
                <h3>校对编辑<span>武汉-江夏区</span></h3>
                <h4>岗位职责：</h4>
                <p>1、 根据客户需求拟定slogan；</p>
                <p>2、 负责产品的创意策划、文案撰写及推进创意落地；</p>
                <p>3、 负责相关宣传物（网站、H5、线下物料、视频、宣传文案等）的创意策划与文案、脚本撰写及提案；</p>
                <p>4、 掌握PPT进行方案包装；</p>
                <h4>任职资格：</h4>
                <p>1、 根据客户需求拟定slogan；</p>
                <p>2、 负责产品的创意策划、文案撰写及推进创意落地；</p>
                <p>3、 负责相关宣传物（网站、H5、线下物料、视频、宣传文案等）的创意策划与文案、脚本撰写及提案；</p>
                <p>4、 掌握PPT进行方案包装；</p>
                
                <a class="apply">投递简历</a>
                <a class="back">返回列表</a>
                <span class="clear"></span>
            -->
        </div>
        <div class="job-result">
            <div class="infoshow">
                <div class="infobox">
                    <img class="tipImg">
                    <p class="tips"></p>
                </div>
            </div>
        </div>
    </div>

    <span class="clear"></span>

    <script src="template/jobs/js/jobs2.js"></script>

</div>