<!-- 关于我们第二版 -->
<link rel="stylesheet" href="template/about/css/about2.css">
<div class="column-center">
    <div class=" about_box">

        <div class="map" id="map"></div>

        <div class="tel">
            <p>
                <img src="./images/internal.png" alt="">

                <span class="text_detail">
                    <strong>官方网站</strong> <br>
                    https://www.51job.com/
                </span>
            </p>

            <p>
                <img src="./images/tel.png" alt="">
                <span class="text_detail">
                    <strong>联系电话</strong><br>
                    <strong>400-886-0051</strong>
                </span>
            </p>

            <p>
                <img src="./images/ema.png" alt="">

                <span class="text_detail">
                    <strong>邮箱地址</strong> <br>
                    callcenter@51job.com
                </span>
            </p>
        </div>

        <div class="ewm">
            <img src="./images/ewm.png" alt="">
            <p>扫一扫 <br>
                关注前程无忧</p>
        </div>
    </div>

    <script src="template/about/js/about2.js"></script>
</div