<!-- 宣讲行程第二版 -->
<link rel="stylesheet" href="template/token/css/token2.css">
<div class="column-center">
    <!-- 时间轴 -->
    <div class="time_axis">
        <!-- 时间节点 -->
        <div class="node node_on">
            <img src="./images/icon_date_on.png" alt="">
            <b></b>
            <p>2019/04/30</p>
        </div>

        <div class="node">
            <img src="./images/icon_date.png" alt="">
            <b></b>
            <p>2019/05/07</p>
        </div>

        <div class="node">
            <img src="./images/icon_date.png" alt="">
            <b></b>
            <p>2019/05/07</p>
        </div>

        <div class="node">
            <img src="./images/icon_date.png" alt="">
            <b></b>
            <p>2019/05/07</p>
        </div>

        <div class="node">
            <img src="./images/icon_date.png" alt="">
            <b></b>
            <p>2019/05/07</p>
        </div>

        <div class="node">
            <img src="./images/icon_date.png" alt="">
            <b></b>
            <p>2019/05/07</p>
        </div>

        <!-- 修饰线 -->
        <div class="date_line"></div>

        <!-- 箭头 -->
        <img class="arrow left_arrow" src="./images/left_arrow.png" alt="">
        <img class="arrow right_arrow" src="./images/right_arrow_on.png" alt="">
    </div>

    <!-- 留白 -->
    <div style="height: 75px;"></div>

    <!-- 院校盒子 -->
    <div class="content_box" style="display: block;">
        <img src="./images/sch1.png" alt="">
        <div class="school_details">
            <div class="s_name">中国人民大学（本部）1</div>
            <p class="s_date"><label><strong>日期：</strong>2019年9月15日&nbsp;14:00-15:00</label></p>
            <p class="s_address"><label><strong>地点：</strong>就业中心421报告厅</label></p>
        </div>
    </div>

    <div class="content_box">
        <img src="./images/sch1.png" alt="">
        <div class="school_details">
            <div class="s_name">中国人民大学（本部）2</div>
            <p class="s_date"><label><strong>日期：</strong>2019年9月15日&nbsp;14:00-15:00</label></p>
            <p class="s_address"><label><strong>地点：</strong>就业中心421报告厅</label></p>
        </div>
    </div>

    <div class="content_box">
        <img src="./images/sch1.png" alt="">
        <div class="school_details">
            <div class="s_name">中国人民大学（本部）3</div>
            <p class="s_date"><label><strong>日期：</strong>2019年9月15日&nbsp;14:00-15:00</label></p>
            <p class="s_address"><label><strong>地点：</strong>就业中心421报告厅</label></p>
        </div>
    </div>

    <div class="content_box">
        <img src="./images/sch1.png" alt="">
        <div class="school_details">
            <div class="s_name">中国人民大学（本部）4</div>
            <p class="s_date"><label><strong>日期：</strong>2019年9月15日&nbsp;14:00-15:00</label></p>
            <p class="s_address"><label><strong>地点：</strong>就业中心421报告厅</label></p>
        </div>
    </div>

    <div class="content_box">
        <img src="./images/sch1.png" alt="">
        <div class="school_details">
            <div class="s_name">中国人民大学（本部）5</div>
            <p class="s_date"><label><strong>日期：</strong>2019年9月15日&nbsp;14:00-15:00</label></p>
            <p class="s_address"><label><strong>地点：</strong>就业中心421报告厅</label></p>
        </div>
    </div>

    <div class="content_box">
        <img src="./images/sch1.png" alt="">
        <div class="school_details">
            <div class="s_name">中国人民大学（本部）6</div>
            <p class="s_date"><label><strong>日期：</strong>2019年9月15日&nbsp;14:00-15:00</label></p>
            <p class="s_address"><label><strong>地点：</strong>就业中心421报告厅</label></p>
        </div>
    </div>

    <script src="template/token/js/token2.js"></script>

</div>