<!-- 关于我们第一版 -->
<link rel="stylesheet" href="template/about/css/about1.css">
<div class="column-center">

    <div class="about_box">

        <div class="left_box">

            <div class="box1">
                <div class="top">
                    <img src="images/email.png" alt="">
                    <span>公司官网</span>
                </div>

                <div class="center_line"></div>

                <p>www.51ideal.com</p>
            </div>

            <div class="box1">
                <div class="top">
                    <img src="images/phone.png" alt="">
                    <span>联系电话</span>
                </div>

                <div class="center_line"></div>

                <p>400-620-5100</p>
            </div>

            <div class="box1">
                <div class="top">
                    <img src="images/email.png" alt="">
                    <span>电子邮箱</span>
                </div>

                <div class="center_line"></div>

                <p>ideal@51job.com</p>
            </div>

        </div>

        <div class="about_line"></div>

        <div class="code_box">

            <div class="code1">

                <div class="ewm_box">
                    <img src="images/about_ewm1.png" alt="">
                </div>

                <p>关注微信公众号</p>

            </div>

            <div class="code1">

                <div class="ewm_box" style="margin-right: 0;">
                    <img src="images/about_ewm2.png" alt="">
                </div>

                <p> www.51ideal.com</p>

            </div>

        </div>

    </div>

</div>

<script src="template/about/js/about1.js"></script>