/*了解更多*/
.about_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.box1 {
    background-color: #fbf7f6;
    margin-bottom: 30px;
    width: 301px;
    overflow: hidden;
}

.box1 p {
    font-size: 15px;
    margin-left: 56px;
    margin-bottom: 10px;
    cursor: pointer;
    font-weight: bold;
    width: fit-content;
}

.box1 p:hover {
    color: #007aff;
    border-bottom: 1px solid #007aff;
}

.top {
    font-size: 16px;
    font-family: "方正兰亭中黑简体";
    color: #fb7e29;
    overflow: hidden;
}

.top img {
    display: block;
    float: left;
    margin-right: 12px;
    margin-left: 22px;
    margin-top: 20px;
}

.top span {
    margin-top: 20px;
    display: block;
}

.center_line {
    width: 100%;
    height: 1px;
    background-color: #fcd7cb;
    margin-bottom: 16px;
    margin-top: 8px;
}

.about_line {
    height: 298px;
    width: 1px;
    background-color: #fdb8a1;
}

.code_box {
    overflow: hidden;
}

.code1 {
    float: left;
}

.code1 p {
    font-size: 18px;
    color: #626262;
    font-weight: bold;
    text-align: center;
    width: 198px;
    margin-top: 10px;
}

.ewm_box {
    width: 198px;
    height: 198px;
    background-color: #ffffff;
    border: 4px solid #fbbc91;
    border-radius: 8px;
    margin-right: 68px;
    position: relative;
}

.ewm_box img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: block;
}