<!-- 薪酬福利第一版 -->
<link rel="stylesheet" href="template/welfare/css/welfare1.css">
<div class="main welfare">
    <p class="title welfare_title">
        <span>薪酬福利</span>
        <span>Salary and welfare</span>
    </p>

    <div style="height: 50px;"></div>

    <div class="column-center">
        <ul>
            <li>
                <div class="ball">1</div>五险一金 绩效奖金 节日津贴 住房补贴 餐饮补贴
            </li>
            <li>
                <div class="ball">2</div>系统培训 导师带教 出国培训 晋升通道 岗位轮替
            </li>
            <li>
                <div class="ball">3</div>健身房 瑜伽室 休息室 茶水间 图书室
            </li>
            <li>
                <div class="ball">4</div>团建活动 国外旅游 户外拓展 年度体检 婚假丧假
            </li>
        </ul>

    </div>

</div>