<!-- 薪酬福利第一版 -->
<link rel="stylesheet" href="template/welfare/css/welfare1.css">
<div class="main welfare">

    <div class="column-center">

        <img src="images/welfare_img1.png" class="welfare_img1">

        <h1>薪酬福利</h1>

        <h2>加入我们，可以享受福利</h2>

        <p>前程无忧”(NASDAQ: JOBS)
            是中国具有广泛影响力的人力资源服务供应商，在美国上市的中国人力资源服务企业。它运用了网络媒体及先进的移动端信息技术，加上经验丰富的专业顾问队伍，提供包括招聘猎头、培训测评和人事外包在内的全方位专业人力资源服务，现在全国25个城市设有服务机构，是国内领先的专业人力资源服务机构。
        </p>

        <div style="height: 120px;"></div>

        <div class="join">请求加入</div>

        <div style="height: 14px;"></div>

        <div class="more">了解更多</div>

    </div>

</div>