<!-- 员工风采第二版 -->

<!-- <link rel="stylesheet" href="css/swiper-3.42.min.css"> -->
<link rel="stylesheet" href="css/swiper.min.css">
<link rel="stylesheet" href="template/person/css/person2.css">

<div class="bg_person">

    <div class="person mediacy">
        <img src="images/intro_title2_2.png" class="intro_title2">

        <div class="swiper_box">
            <div class="swiper-container cul-swiper">
                <div class="swiper-wrapper">

                    <div class="swiper-slide">
                        <img src="images/swiper1.png" />
                        <p>公司团建活动</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="images/swiper1.png" />
                        <p>公司团建活动</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="images/swiper1.png" />
                        <p>公司团建活动</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="images/swiper1.png" />
                        <p>公司团建活动</p>
                    </div>
                    <div class="swiper-slide">
                        <img src="images/swiper1.png" />
                        <p>公司团建活动</p>
                    </div>

                </div>

                <div class="swiper-pagination cul-pagination"></div>
            </div>
            <div class="swiper-button-prev cul-prev"></div>
            <div class="swiper-button-next cul-next"></div>
        </div>

    </div>

    <!-- 修饰 -->
    <img src="images/intro_left2.png" class="intro_left1">

</div>

<!-- 薪酬福利模块 -->
<div class="concat_welfare"></div>

<!-- <script src="js/swiper.min.js"></script> -->
<script src="js/jquery-1.11.1.js"></script>

<script src="js/swiper-3.4.2.jquery.min.js"></script>

<script src="template/person/js/person2.js"></script>