<!-- 关于我们第二版 -->
<link rel="stylesheet" href="template/about/css/about2.css">

<div class="bg_about">

    <div class="about mediacy">
        <img src="images/about_title_2.png" class="about_title">

        <div class="outside_box">

            <img class="icons1 icons" src="images/email2.png" alt="">
            <img class="icons2 icons" src="images/tel2.png" alt="">
            <img class="icons3 icons" src="images/email2_1.png" alt="">
            <!-- 横线 -->
            <div class="m_line"></div>
            <!-- 竖线 -->
            <div class="s_line"></div>

            <!-- 二维码内容区 -->
            <div class="right_img">

                <div class="none_img"></div>

            </div>

            <!-- 描述开始 -->
            <p class="p1">公司官网<br>minnie111@qq.com</p>
            <p class="p2">minnie111@qq.com<br>联系电话</p>
            <p class="p3">公司官网<br>minnie111@qq.com</p>
            <p class="p4">关注微信公众号</p>

        </div>

    </div>

    <!-- 修饰 -->
    <img src="images/about_left1.png" class="intro_left1">

</div>

<script src="template/about/js/about2.js"></script>