<!-- 招聘职位第一版 -->
<link rel="stylesheet" href="css/scrollBar.css">
<link rel="stylesheet" href="template/jobs/css/jobs1.css">


<div class="main">
    <div style="height: 50px;"></div>

    <p class="title position_title">
        <span>招聘职位</span>
        <span>Recuitment position</span>
    </p>
    <div class="column-center">

        <div class="top_text">
            <div class="text_line"></div>
            <span>招聘方向</span>
            <span>招聘要求</span>
        </div>

        <div class="jobs_box">

            <div class="arrow_box">

                <!-- 分割线 -->

                <div class="f_line"></div>

                <img src="images/top_arrow.png" alt="" class="top_arrow arrow">

                <div class="f_line"></div>

                <img src="images/bottom_arrow.png" alt="" class="bottom_arrow arrow">

                <div class="f_line"></div>

                <div class="page">
                    <span class="nowPages">01</span>
                    ——
                    <span class="allPage">02</span>
                </div>

            </div>

            <div class="jobs_nav">

                <ul>
                    <li class="jobs_nav_active">精算</li>
                    <li>风险管理</li>
                    <li>市场研究</li>
                    <li>投资管理</li>
                    <li>再保管理</li>
                    <li>审计</li>
                    <li>合规法务</li>
                    <li>统计分析</li>
                    <li>市场营销</li>
                </ul>

            </div>

            <!-- 分割线 -->
            <div class="c_line"></div>

            <div class="jobs_detail">

                <div class="scroll">

                    <h2>岗位职责</h2>

                    <p class="duty_text">参与保险产品定价评估与精算模型的优化维护工作，包括但不限于负债及准备金评估、偿付能力量化风险监测分析、准备金相关指标的监测分析、车险定价模型维护优化等</p>

                    <h2>人数</h2>

                    <p class="number_text">本科及以上；</p>

                    <h2>任职要求</h2>

                    <p class="need_text"> 1、全日制本科及以上学历，精算、统计、数学、金融、保险等相关专业优先；<br>
                        2、具备良好的人际沟通、组织协调能力和团队合作精神；<br>
                        3、具备较强的责任感、上进心与抗压力；
                    </p>

                </div>

            </div>

            <div class="address">

                <h2>工作地点</h2>

                <span class="address_text">深圳市深圳市</span>

                <a class="apply" href="javascript:;"> 投递简历 </a>

            </div>

        </div>

    </div>

    <span class="clear"></span>
    <script src="js/jquery-1.12.3.min.js"></script>
    <script src="js/scrollBar.js"></script>
    <script src="template/jobs/js/jobs1.js"></script>

</div>