<!-- 员工风采第一版 -->
<link rel="stylesheet" href="template/person/css/person1.css">

<div class="main person">

    <div class="column-center person_column">

        <div class="left_text">

            <h1>我们的文化</h1>

            <h2>加入我们，就先开始认识我们</h2>

            <p>前程无忧”(NASDAQ: JOBS)
                是中国具有广泛影响力的人力资源服务供应商，在美国上市的中国人力资源服务企业。它运用了网络媒体及先进的移动端信息技术，加上经验丰富的专业顾问队伍，提供包括招聘猎头、培训测评和人事外包在内的全方位专业人力资源服务，现在全国25个城市设有服务机构，是国内领先的专业人力资源服务机构。
            </p>

            <div class="join">请求加入</div>

            <div class="more">了解更多</div>

        </div>

        <div class="swiper-container cul-swiper">
            <div class="swiper-wrapper">

                <div class="swiper-slide">
                    <img src="images/s_img1.jpg" />
                </div>

                <div class="swiper-slide">
                    <img src="images/s_img2.jpg" />
                </div>

                <div class="swiper-slide">
                    <img src="images/s_img3.jpg" />
                </div>

            </div>

            <div class="swiper-button-prev cul-prev"></div>

            <div class="swiper-button-next cul-next"></div>

        </div>

    </div>

    <script src="js/swiper.min.js"></script>
    <script src="template/person/js/person1.js"></script>

</div>