<!-- 关于我们第一版 -->
<link rel="stylesheet" href="template/about/css/about1.css">
<div class="column-center">

    <h1>联系我们</h1>

    <h2>想了解更多关于我们的事情，那就来联系我们吧。</h2>

    <div class="abso_box">

        <div class="box1">

            <div class="top">

                <img src="images/about_ewm1.png" alt="">

                <p>ideal@51job.com</p>

            </div>

            <img src="images/icon1.png" alt="" class="icon">

        </div>

        <div class="box1">

            <div class="top">

                <img src="images/about_ewm2.png" alt="">

                <p>公众号</p>

            </div>

            <img src="images/icon2.png" alt="" class="icon">

        </div>

        <div class="box1">

            <div class="top">

                <span> www. <br>
                    51ideal.com</span>

            </div>

            <img src="images/icon3.png" alt="" class="icon">

        </div>

        <div class="box1">

            <div class="top">

                <span>
                    400 <br>
                    - <br>
                    620-5100
                </span>

            </div>

            <img src="images/icon4.png" alt="" class="icon">

        </div>

    </div>

</div>

<script src="template/about/js/about1.js"></script>