<!-- 宣讲行程第一版 -->
<link rel="stylesheet" href="template/token/css/token1.css">
<div class="column-center">

    <div class="letter_line">
        公司
    </div>

    <div class="strong_text">

        我们将在这段时间陆<br>
        陆续续前往900多所<br>
        大学和你们探讨交流。

    </div>

    <div class="arrow_img">

        <img src="images/left_arrow1.png" class="token_arrow left" alt="">

        <div class="center_box">
            <!--<img src="images/token_img1.png" class="main_img" alt="">-->

            <div class="road">
                <div class="road-top">
                    <!--<div class="road-text"><div class="rtext-box"><p class="bold-text"></p><p></p></div><img src="images/down-line.png" alt=""></div>-->
                </div>

                <div class="road-center">
                    <img src="images/road-point.png"  style="left: 0">
                    <div class="r-line"></div>
                    <img src="images/road-point.png"  style="right: 0">
                </div>

                <div class="road-down">
                    <!--<div class="road-text"><img src="images/up-line.png" alt=""><div class="rtext-box"><p class="bold-text"></p><p></p></div></div>-->
                </div>
            </div>

        </div>

        <img src="images/right_arrow1.png" class="token_arrow right" alt="">

    </div>

</div>

<script src="js/jquery-1.12.3.min.js"></script>

<script src="template/token/js/token1.js"></script>