<!-- 关于我们第一版 -->
<link rel="stylesheet" href="template/about/css/about1.css">
<div class="column-center">

    <div class="letter_line">
        公司
    </div>

    <div class="strong_text">

        想更加的了解我们吗？ <br>
        可以关注我们的公众<br>
        号和官网哦。

    </div>

    <div class="abso_box">

        <div class="box1">

            <div class="top">

                <img src="images/about_ewm1.png" alt="">

                <p>ideal@51job.com</p>

            </div>

            <img src="images/icon1.png" alt="" class="icon">

        </div>

        <div class="box1">

            <div class="top">

                <img src="images/about_ewm2.png" alt="">

                <p>公众号</p>

            </div>

            <img src="images/icon2.png" alt="" class="icon">

        </div>

        <div class="box1">

            <div class="top">

                <span> www. <br>
                    51ideal.com</span>

            </div>

            <img src="images/icon3.png" alt="" class="icon">

        </div>

        <div class="box1">

            <div class="top">

                <span>
                    400 <br>
                    - <br>
                    620-5100
                </span>

            </div>

            <img src="images/icon4.png" alt="" class="icon">

        </div>

    </div>

</div>

<script src="template/about/js/about1.js"></script>