<!-- 员工风采第一版 -->

<link rel="stylesheet" href="template/person/css/person1.css">
<link rel="stylesheet" type="text/css" href="css/animate.min.css"/>
<link rel="stylesheet" href="css/swiper.min.css">

<div class="bg_person">

    <div class="person mediacy">
        <img src="images/intro_title2.png" class="intro_title2">

        <div class="swiper_box">
			<div class="banner1" id="banner1">
				<div class="banner-view"></div>
				<div class="banner-btn"></div>
				<div class="banner-number"></div>
				<div class="banner-progres"></div>
			</div>
		</div>

    </div>

    <!-- 修饰 -->
    <img src="images/intro_left2.png" class="intro_left1">

</div>

<!-- 薪酬福利模块 -->
<div class="concat_welfare"></div>

<script src="js/swiper.min.js"></script>
<script src="template/person/js/person1_plug.js"></script>
<script src="template/person/js/person1.js"></script>


