/*宣讲行程*/

.road{
    width: 1000px;
    min-height: 220px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.road-box{
    margin-bottom: 70px;
}
.road-content{
    background: url(../../../images/road_pic.png);
    background-size: 100% 100%;
    width:205px;
    height: 100px;
    padding: 8px;
    float: left;
}
.road-content p{
    font-size: 16px;
    text-align: center;
}
.road-content p:nth-child(2){
     font-size: 14px;
     text-align: center;
 }
.bold-text {
    font-weight: bold;
}
.clear{
    clear: both;
}
.road-box img{
    position: relative;
    top: 40px;
    left: 10px;
}